*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  padding-inline: 30px;
  padding-block: 133px;
  inline-size: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;

}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

/*
  .search-form__label
  .search-form__label-text
  .search-form__textfield
  .search-form__checkbox-list
  .search-form__checkbox
  .search-form__pseudo-checkbox*/

.button {
  border: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  block-size: 34px;
  }

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: flex-start;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: auto;
  inline-size: 399px;
  block-size: 298px;
}

.content__accent {
  color: #545050;
}

 /*.preloader-template
  .square
  .cards-list-item-template
  .content__list-item*/

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 2px;
  padding-inline: 2px;
  inline-size: 394px;
  block-size: 107px;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: auto;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  padding-block-end: 6px;
  }

.content__video-card-description {
  color: #FFF;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}
 .content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
  flex-shrink: 0;
 }


   /*.more-button-template
  .more-button
  .error-template*/
